# Host port bound to the API container:
APPLICATION_PORT=3002

# MongoDB database URI:
DATABASE_URI=mongodb://database:27019/job-api

# MongoDB database schema:
DATABASE_NAME=job-api

# MongoDB database port:
DATABASE_PORT=27019
